/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.content {
    height: calc(100vh - 98px);
    padding-left: 300px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

//table

.table-container {
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 30px;
  }
  
  table {
    width: 95%;
    margin-top: 20px;
  }
  
  .mat-row:nth-child(even){
    background-color: #fafafa;
  }
  
  .mat-row:nth-child(odd){
    background-color: #fff;
  }
  
  .search {
    font-size: 14px;
    width: 30%;
    padding-right: 60px;
    padding-top: 10px;;
  }
  
  .icon-search {
    color: #adadad;
  }
  
  .tab-container{
      margin-top: 30px;
  }
  
  .check-container{
    padding: 0 30px 10px 10px;
    margin-bottom: 10px;
  }

  .form-search {
    background-color: rgb(185, 202, 212);
    width: 70%;
  }

  .modal-card{
    min-width: 400px;
    .card-content{
      margin: 10px 10px;
      .form-control{
        margin: 10px 10px;
      }
    }
    .card-footer{
      margin: 10px 10px;
    }
  }
  
  